<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HockeyManager</title>
    <link rel="stylesheet" href="~/css/Inside.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HockeyManager.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HockeyManager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <nav class="navbar">

        <!-- LOGO -->

        <div class="logo">MUO</div>

        <!-- NAVIGATION MENU -->

        <ul class="nav-links">

            <!-- USING CHECKBOX HACK -->

            <input type="checkbox" id="checkbox_toggle" />

            <label for="checkbox_toggle" class="hamburger">&#9776;</label>

            <!-- NAVIGATION MENUS -->

            <div class="menu">

               <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

               <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

                <li class="services">

                <a href="/">Services</a>

                <!-- DROPDOWN MENU -->

                    <ul class="dropdown">

                        <li><a href="/">Dropdown 1 </a></li>

                        <li><a href="/">Dropdown 2</a></li>

                        <li><a href="/">Dropdown 2</a></li>

                        <li><a href="/">Dropdown 3</a></li>

                        <li><a href="/">Dropdown 4</a></li>

                    </ul>

                </li>

                <li><a href="/">Pricing</a></li>

                <li><a href="/">Contact</a></li>

            </div>

        </ul>

   </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HockeyManager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
