<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--important to transfer to other sites-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--important to transfer to other sites-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HockeyManager</title>
    <link rel="stylesheet" href="~/HockeyManager.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Rubik:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/9ae911ed71.js" crossorigin="anonymous"></script>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
