/*---------------------------common---------------------------*/
body, html{
    margin:0px;
    padding:0px;
    height:100%;
    color:white;
}
body{
    background-color:black;
}
container {
    height:100%;
    grid-gap: 3rem;
    display: grid;
    gap: 2rem;
    grid-template-areas: "nav-box content";
    grid-template-columns: 290px auto;
}
content {
    background-color: rgba(34, 42, 53, 0.8);
    border: 1px solid;
    border-color: rgb(40, 40, 40);
    border-radius:5px;
    margin:10px;
    padding:10px;
}
#pagination {
    position: sticky;
    bottom: 0;
}
.split-grid {
    display:grid;
    grid-gap:20px;
    grid-template-areas:"left-box right-box";
    grid-template-columns:calc(50% - 10px);
}
.left-box {
    font-size:0px;
}

.right-box {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top:50px;
}
.right-box-team {
    display: flex;
    flex-direction:column;
    justify-content: center;
    position: absolute;
    top:0px;
}
button.submit {
    position: fixed;
    left: 0;
    right: 0;
    top: -55px;
}
.player-box {
    width: 100%;
    align-items: center;
    height: 50px;
    background-color: rgb(2, 43, 58);
    margin-bottom: 2px;
    display: flex;
    justify-content: space-evenly;
}
    .player-click:hover {
        background-color: rgba(0, 140, 241, 1);
        box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.7);
        color: black;
    }
    .player-click:active {
        background-color: rgba(0, 140, 241, 1);
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
        color: black;
    }
    .player-click.selected {
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
    }
.player-detail {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: sticky;
    top: 0;
}
.player-detail-box {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    width: calc(100% - 20px);
}
.Player-table {
    border-spacing:0px;
    width:100%;
    font-size:initial;
}
.player-image img {
    max-width: 100%;
    height: auto;
}
.player-basic-info{
    display:grid;
    grid-template-areas:"player-image player-info";
}
.team-player-box {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: solid;
    border-color: black;
    background-color: rgb(2, 43, 58);
    transition: left 0.3s, top 0.3s;
}
    .team-player-box#LF {
        position: absolute;
        top:470px;
        left:40px;
    }
    .team-player-box#C {
        position: absolute;
        top: 470px;
        left: 208px;
    }
    .team-player-box#RF {
        position: absolute;
        top: 470px;
        left: 375px;
    }
    .team-player-box#LD {
        position: absolute;
        top: 300px;
        left: 125px;
    }
    .team-player-box#RD {
        position: absolute;
        top: 300px;
        left: 290px;
    }
    .team-player-box#G {
        position: absolute;
        top: 50px;
        left: 208px;
    }

.rink-image {
    width: 100px;
    justify-content: center;
}
.rink-standing-image {
    width: auto;
    height: 95vh;
}
tr {
}
    tr .number {
        width: 30px;
    }
    tr .name {
        width: 150px;
    }
    tr .role {
        width:30px;
    }
    tr .power {
        width:30px;
    }
/*---------------------------navbar---------------------------*/
nav {
    padding: 20px;
    color: #fff;
    position: -webkit-sticky;
    position: sticky;
    z-index: var(--z-index-top);
    top: 0;
    left: 0;
    height: calc(100vh - 120px);
    width: 100%;
}

.nav-box {
    height: 100%;
    width: 290px;
}

.logo {
    font-size: 2rem;
    height: 80px;
}

.menu {
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    height:100%;
}

.nav-button {
    padding:5px;
}
    .nav-button:hover {
        background-color: rgba(64, 64, 64, 0.8);
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
    }
    .nav-button:active {
        background-color: rgba(0, 140, 241, 0.2)
    }
    .nav-button.selected {
        background-color: rgba(0, 176, 240, 0.2);
    }
        .nav-button.selected::after {
            content: "";
            position: absolute;
            left: 290px;
            height: 27px;
            width: 4px;
            border:hidden;
            border-radius: 4px;
            background-color: rgba(0, 140, 241, 1);
        }

.nav-top-middle {
    display: none;
}

.nav-top-right {
    display: none;
}

.spacer{
    border-top:solid;
    border-width:1px;
    color:#7F7F7F;
    margin-top:5px;
    padding-top:5px;
}

.money {
    margin-right: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-top: 10px;
}

i {
    width:40px;
}

a {
    text-decoration: none;
    color:white;
}

.burger {
    display: none;
    cursor: pointer;
}

    .burger .line {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
    }


@media screen and (max-width: 1420px) {
    .rink-standing-image{
        width:100%;
        height:auto;
    }
}
@media screen and (max-width: 1350px) {
    .rink-standing-image {
        width: 460px;
        height: auto;
    }
    .team-player-box#LF {
        position: absolute;
        top: 410px;
        left: 20px;
    }

    .team-player-box#C {
        position: absolute;
        top: 410px;
        left: 176px;
    }

    .team-player-box#RF {
        position: absolute;
        top: 410px;
        left: 330px;
    }

    .team-player-box#LD {
        position: absolute;
        top: 270px;
        left: 100px;
    }

    .team-player-box#RD {
        position: absolute;
        top: 270px;
        left: 270px;
    }

    .team-player-box#G {
        position: absolute;
        top: 20px;
        left: 176px;
    }
}
@media screen and (max-width: 1280px) {
    .rink-standing-image {
        width: 430px;
        height: auto;
    }
    .team-player-box#LF {
        position: absolute;
        top: 380px;
        left: 20px;
    }

    .team-player-box#C {
        position: absolute;
        top: 380px;
        left: 164px;
    }

    .team-player-box#RF {
        position: absolute;
        top: 380px;
        left: 300px;
    }

    .team-player-box#LD {
        position: absolute;
        top: 250px;
        left: 90px;
    }

    .team-player-box#RD {
        position: absolute;
        top: 250px;
        left: 240px;
    }

    .team-player-box#G {
        position: absolute;
        top: 20px;
        left: 164px;
    }
}
@media screen and (max-width: 1205px) {
    .player-image{
        display:none;
    }
    .rink-standing-image {
        width: 370px;
        height: auto;
    }
    .team-player-box#LF {
        position: absolute;
        top: 320px;
        left: 10px;
    }

    .team-player-box#C {
        position: absolute;
        top: 320px;
        left: 131px;
    }

    .team-player-box#RF {
        position: absolute;
        top: 320px;
        left: 250px;
    }

    .team-player-box#LD {
        position: absolute;
        top: 210px;
        left: 60px;
    }

    .team-player-box#RD {
        position: absolute;
        top: 210px;
        left: 200px;
    }

    .team-player-box#G {
        position: absolute;
        top: 10px;
        left: 131px;
    }
}
@media screen and (max-width: 1100px) {

    .rink-standing-image {
        width: 330px;
        height: auto;
    }
    .team-player-box#LF {
        position: absolute;
        top: 280px;
        left: 5px;
    }

    .team-player-box#C {
        position: absolute;
        top: 280px;
        left: 115px;
    }

    .team-player-box#RF {
        position: absolute;
        top: 280px;
        left: 225px;
    }

    .team-player-box#LD {
        position: absolute;
        top: 180px;
        left: 60px;
    }

    .team-player-box#RD {
        position: absolute;
        top: 180px;
        left: 175px;
    }

    .team-player-box#G {
        position: absolute;
        top: 5px;
        left: 115px;
    }
}
@media screen and (max-width: 1005px) {
    .rink-standing-image {
        width: 305px;
        height: auto;
    }

    .team-player-box#LF {
        position: absolute;
        top: 260px;
        left: 0px;
    }

    .team-player-box#C {
        position: absolute;
        top: 260px;
        left: 100px;
    }

    .team-player-box#RF {
        position: absolute;
        top: 260px;
        left: 200px;
    }

    .team-player-box#LD {
        position: absolute;
        top: 150px;
        left: 40px;
    }

    .team-player-box#RD {
        position: absolute;
        top: 150px;
        left: 160px;
    }

    .team-player-box#G {
        position: absolute;
        top: 20px;
        left: 100px;
    }
}
@media screen and (max-width: 960px) {
    .rink-standing-image {
        display:none;
    }

    .team-player-box#LF {
        position: initial;
    }

    .team-player-box#C {
        position: initial;
    }

    .team-player-box#RF {
        position: initial;
    }

    .team-player-box#LD {
        position: initial;
    }

    .team-player-box#RD {
        position: initial;
    }

    .team-player-box#G {
        position:initial;
    }
}
@media screen and (max-width: 900px) {
    tr .number{
        display:none;
    }
    tr .name{
        width:100px;
    }
}
@media screen and (max-width: 768px) {
    /*---------------------------common---------------------------*/
    container {
        grid-template-areas: "nav-box" "content";
        grid-template-columns:none;
        grid-template-rows: 20px auto;
    }
    tr {
    }

        tr .number {
            width: 20%;
        }

        tr .name {
            width: 40%;
        }

        tr .role {
            width: 20%;
        }

        tr .power {
            width: 20%;
        }
    /*---------------------------navbar---------------------------*/
    nav {
        width: calc(100% - 40px);
        height: 100%

    }

    .nav-box {
        width: 100%;
        height: 60px;
    }
    
    .menu {
        display: none;
    }

    .logo {
        display:none;
    }

    .nav-top-middle {
        display: flex;
        width:100%;
        position:fixed;
        left:0;
        align-items:center;
        justify-content:center;
    }

    .nav-top-right {
        display: block;
        position: absolute;
        right: 30px;
        align-items: center;
    }

    .burger {
        display: block;
    }

    .money {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .burger {
        position: absolute;
        top: 20px;
        left: 20px;
    }

        .burger:hover .line {
            background-color: #ccc;
        }

        .burger.active .line:nth-child(2) {
            opacity: 0;
        }

        .burger.active .line:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
        }

        .burger.active .line:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -5px);
        }

    nav.active {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #333;
        z-index: 9999;
    }

        nav.active .menu {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            margin-top: 50px;
            height: calc(100% - 70px);
        }

        nav.active ul {
            flex-direction: column;
            align-items: center;
        }

        nav.active li {
            margin: 5px 0;
        }
        nav.active #bottomlist {
            display: block;
        }
        nav.active .nav-top-middle {
            display: none;
        }
        nav.active .nav-top-right {
            display: none;
        }
        nav.active .spacer {
            width: 100vw;
        }
}
@media screen and (max-width: 500px) {
    tr .line {
        display:none;
    }
    tr .number {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .player-box{
        flex-direction:column;
        height:auto;
    }
}
    /*---------------------------....---------------------------*/
