/*---------------------------common---------------------------*/
body, html{
    margin:0px;
    padding:0px;
    height:100%;
    color:white;
}
body{
    background-color:black;
}
container {
    height:100%;
    grid-gap: 3rem;
    display: grid;
    gap: 2rem;
    grid-template-areas: "nav-box content";
    grid-template-columns: 290px auto;
}
content {
    background-color: rgba(34, 42, 53, 0.8);
    border: 1px solid;
    border-color: rgb(40, 40, 40);
    border-radius:5px;
    margin:10px;
    padding:10px;
}
#pagination {
    position: sticky;
    bottom: 0;
}
.Important-message{
    position:absolute;
    top:0;
    width:100%;
}
.split-grid{
    display:grid;
    grid-gap:20px;
    grid-template-areas:"left-box right-box";
    grid-template-columns:calc(50% - 10px);
}
.player-box {
    width: 100%;
    align-items: center;
    height: 50px;
    background-color: rgb(2, 43, 58);
    margin-bottom: 2px;
    display:flex;
    justify-content:space-evenly;
}
.player-detail {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 5px;
    padding: 10px;
}
.Player-table {
    border-spacing:0px;
    width:100%;
}
tr{

}
    tr .number {
        width: 30px;
    }
    tr .name {
        width: 150px;
    }
    tr .role {
        width:30px;
    }
    tr .power {
        width:30px;
    }
/*---------------------------navbar---------------------------*/
nav {
    padding: 20px;
    color: #fff;
    position: -webkit-sticky;
    position: sticky;
    z-index: var(--z-index-top);
    top: 0;
    left: 0;
    height: calc(100vh - 120px);
    width: 100%;
}

.nav-box {
    height: 100%;
    width: 290px;
}

.logo {
    font-size: 2rem;
    height: 80px;
}

.menu {
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    height:100%;
}

.nav-top-middle {
    display: none;
}

.nav-top-right {
    display: none;
}

.spacer{
    border-top:solid;
    border-width:1px;
    color:#7F7F7F;
    margin-top:5px;
    padding-top:5px;
}

.money {
    margin-right: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-top: 10px;
}

i {
    width:40px;
}

a {
    text-decoration: none;
    color:white;
}

.burger {
    display: none;
    cursor: pointer;
}

    .burger .line {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
    }

@media screen and (max-width: 768px) {
    /*---------------------------common---------------------------*/
    container {
        grid-template-areas: "nav-box" "content";
        grid-template-columns:none;
        grid-template-rows: 20px auto;
    }
    tr {
    }

        tr .number {
            width: 20%;
        }

        tr .name {
            width: 40%;
        }

        tr .role {
            width: 20%;
        }

        tr .power {
            width: 20%;
        }
    /*---------------------------navbar---------------------------*/
    nav {
        width: calc(100% - 40px);
        height: 100%

    }

    .nav-box {
        width: 100%;
        height: 60px;
    }
    
    .menu {
        display: none;
    }

    .logo {
        display:none;
    }

    .nav-top-middle {
        display: flex;
        width:100%;
        position:fixed;
        left:0;
        align-items:center;
        justify-content:center;
    }

    .nav-top-right {
        display: block;
        position: absolute;
        right: 30px;
        align-items: center;
    }

    .burger {
        display: block;
    }

    .money {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .burger {
        position: absolute;
        top: 20px;
        left: 20px;
    }

        .burger:hover .line {
            background-color: #ccc;
        }

        .burger.active .line:nth-child(2) {
            opacity: 0;
        }

        .burger.active .line:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
        }

        .burger.active .line:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -5px);
        }

    nav.active {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #333;
        z-index: 9999;
    }

        nav.active .menu {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            margin-top: 50px;
            height: calc(100% - 70px);
        }

        nav.active ul {
            flex-direction: column;
            align-items: center;
        }

        nav.active li {
            margin: 5px 0;
        }
        nav.active #bottomlist {
            display: block;
        }
        nav.active .nav-top-middle {
            display: none;
        }
        nav.active .nav-top-right {
            display: none;
        }
        nav.active .spacer {
            width: 100vw;
        }
}
@media screen and (max-width: 500px) {
    tr .line {
        display:none;
    }
    tr .number {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .player-box{
        flex-direction:column;
        height:auto;
    }
}
    /*---------------------------....---------------------------*/
