<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="~/css/Inside.css">

<html lang="en">

<head>
    <link rel="stylesheet" href="~/css/Inside.css"/>
</head>

<body>
    <script>
        const encryptedMail = localStorage.getItem('Email');
        const encryptedPass = localStorage.getItem('Password');
        console.log(encryptedMail + ", " + encryptedPass);
    </script>
    <div class="Important-message">
        <div class="center-text"><p>@TempData["Message"]</p></div>
    </div>
    <container>
        <div class="nav-box">@Html.Partial("NavPartial.cshtml")</div>
        <content class="content">
            @{
                string name = "";
                string role = "";  
                name = Context.Session.GetString("name");
                role = Context.Session.GetString("role");
                <h1 class="display-4">Welcome, @name!</h1>
                <p>You are logged in as a @role.</p>
            }
        </content>
    </container>
    <script src="~/js/inside.js"></script>
</body>
</html>
