<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="~/css/Inside.css">

<html lang="en">

<head>

    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>

</head>

<body>
    <script>
        const encryptedMail = localStorage.getItem('Email');
        const encryptedPass = localStorage.getItem('Password');
        console.log(encryptedMail + ", " + encryptedPass);
    </script>
    <container>
        @Html.Partial("NavPartial.cshtml")
        <content class="content">
            @{
                string name = "";
                string role = "";  
                name = Context.Session.GetString("name");
                role = Context.Session.GetString("role");
                <h1 class="display-4">Welcome, @name!</h1>
                <p>You are logged in as a @role.</p>
            }
        </content>
    </container>
    <script src="~/js/inside.js"></script>
</body>
</html>
