<link rel="stylesheet" type="text/css" href="~/css/Inside.css">
@{
    string name = "";
    string role = "";
    int? currency = 0;

    name = Context.Session.GetString("name");
    role = Context.Session.GetString("role");
    currency = Context.Session.GetInt32("currency");
}
<nav class="nav">
    <div><img class="logo" src="~/media/Logo-text.jpg" alt="HockeyManager23"></div>
    <div class="menu">
        <ul id="toplist">
            <li class="size1"><i class="fa-solid fa-house" style="color: #ffffff;"></i><a asp-area="" asp-controller="Game" asp-action="Home">Home</a></li>
            <li><div class="spacer"></div></li>
            <li class="size1"><i class="fa-solid fa-people-group" style:"color: #ffffff;"></i><a asp-area="" asp-controller="Game" asp-action="MyTeam">Team</a></li>
            <li class="size1"><i class="fa-solid fa-user-plus" style="color: #ffffff;"></i><a asp-area="" asp-controller="Game" asp-action="Player">Players</a></li>
            <li class="size1"><i class="fa-solid fa-store" style:"color: #ffffff;"></i><a asp-area="" asp-controller="Game" asp-action="Market">Market</a></li>
            <li><div class="spacer"></div></li>
            <li class="size1"><i class="fa-solid fa-medal" style:"color: #ffffff;"></i><a asp-area="" asp-controller="Game" asp-action="Leaderboard">Leaderboard</a></li>
            <li class="size1"><i class="fa-solid fa-chart-pie" style:"color: #ffffff;"></i><a asp-area="" asp-controller="Game" asp-action="Statistics">Statistics</a></li>
            <li class="size1"><i class="fa-solid fa-clock" style:"color: #ffffff;"></i><a asp-area="" asp-controller="Game" asp-action="History">History</a></li>
        </ul>
        <ul id="bottomlist">
            <li class="size1">Money: @currency$</li>
            <li><div class="spacer"></div></li>
            <li class="size1"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a></li>
        </ul>
    </div>
    <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="nav-top-middle size2">
        Money: @currency$
    </div>
    <div class="nav-top-right">
        <a class="size2" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a></li>
    </div>
</nav>
<script src="~/js/Burger.js"></script>