<link rel="stylesheet" type="text/css" href="~/css/Inside.css">
<nav>
    <div class="menu">
        <ul id="toplist">
            <li class="size1"><a asp-area="" asp-controller="Game" asp-action="Home">Home</a></li>
            <li><div class="spacer"></div></li>
            <li class="size1"><a asp-area="" asp-controller="Game" asp-action="MyTeam">Team</a></li>
            <li class="size1"><a asp-area="" asp-controller="Game" asp-action="Players">Players</a></li>
            <li class="size1"><a asp-area="" asp-controller="Game" asp-action="Market">Market</a></li>
            <li><div class="spacer"></div></li>
            <li class="size1"><a asp-area="" asp-controller="Game" asp-action="Leaderboard">Leaderboard</a></li>
            <li class="size1"><a asp-area="" asp-controller="Game" asp-action="Statistics">Statistics</a></li>
            <li class="size1"><a asp-area="" asp-controller="Game" asp-action="History">History</a></li>
        </ul>
        <ul id="bottomlist">
            <li class="size1">Money:@User. $</li>
            <li><div class="spacer"></div></li>
            <li class="size1"><a>Logout</a></li>
        </ul>
    </div>
    <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</nav>
<script src="~/js/inside.js"></script>
