@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hockey Manager</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Rubik:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/Outside.css">
    <link rel="stylesheet" href="~/css/GridEffect.css">
    
</head>
<body>
    <!-- partial:index.partial.html -->
    <div id="tiles"></div>

    <h1 id="title" class="centered">
        Hockey Manager
        <span class="fancy">2023</span>
    </h1>

    <div id="iconbox" class="centered">
        <i id="icon" class="fa-solid fa-hockey-stick-puck"></i>
        <i id="icon" class="fa-solid fa-goal-net"></i>
    </div>

    <div id="login" class="centerdContent">
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @if (ViewBag.LoginError != null)
                    {
                        <div class="form-group">
                            <span class="text-danger">
                                Användarnamn eller lösenord är felkatig!
                            </span>
                        </div>
                    }
                    <div class="form-group">
                        <label for="mailadress">Email address</label>
                        <input type="email" class="form-control" id="mailadress" name="mailadress" placeholder="blind@gmail.com"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="********"/>
                        @ViewBag.MeddelandePass
                    </div>
                    <button type="submit" class="Action-button">Login</button>
                    <button type="submit" class="Action-button">Login</button>
                    <label>
                        <input type="checkbox" class="form-control" id="checkbox" name="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </form>
            </div>
        </div>
    </div>

    <a id="rule-link" class="meta-link" asp-area="" asp-controller="Home" asp-action="Rules">
  <i class="fa-solid fa-book"></i>
  <span>Rules</span>
</a>

<a id="about-link" class="meta-link" asp-area="" asp-controller="Home" asp-action="About">
  <i class="fa-solid fa-question"></i>
  <span>About</span>
</a>

    <!-- partial -->
    <script src='https://codepen.io/Hyperplexed/pen/xxYJYjM/54407644e24173ad6019b766443bf2a6.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js'></script>
    <script src="~/js/GridEffect.js"></script>


</body>
</html>
