@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Outside.css">
    <link rel="stylesheet" href="~/css/GridEffect.css">
</head>
<body>
    <!-- partial:index.partial.html -->
    <div id="tiles"></div>

    <h1 id="title" class="centered">
        Hockey Manager
        <span class="fancy">2023</span>
    </h1>

    <div id="iconbox" class="centered">
        <i id="icon" class="fa-solid fa-hockey-stick-puck"></i>
        <i id="icon" class="fa-solid fa-goal-net"></i>
    </div>

    <div id="login" class="centerdContent">
        <div>
            <div>
                <form asp-action="Login" method="post" id="form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div>
                        <span>
                            @ViewBag.Message
                        </span>
                    </div>
                    <div>
                        <label for="mailadress">Email address</label>
                        <input type="email" id="Email" name="Email" placeholder="blind@gmail.com" required value=""/>
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" id="Password" name="Password" placeholder="********" required value=""/>
                        <span class="error">@ViewBag.MeddelandePass</span>
                    </div>
                    <div class="width-100">
                        <button type="submit" id="submit" class="Action-button">Login</button>
                        <a class="Action-button" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                    </div>
@*                    <label>
                        <input type="checkbox" class="form-control" id="rememberme" name="checkbox" checked="@ViewBag.RememberMe" name="remember"> Remember me
                    </label>*@
                </form>
            </div>
        </div>
    </div>
    <a id="rule-link" class="meta-link" asp-area="" asp-controller="Home" asp-action="Rules">
  <i class="fa-solid fa-book"></i>
  <span>Rules</span>
</a>

<a id="about-link" class="meta-link" asp-area="" asp-controller="Home" asp-action="About">
  <i class="fa-solid fa-question"></i>
  <span>About</span>
</a>

    <!-- partial -->
    <script src='https://codepen.io/Hyperplexed/pen/xxYJYjM/54407644e24173ad6019b766443bf2a6.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js'></script>
    <script src="~/js/GridEffect.js"></script>
    @*<script type="module" src="~/js/HMcrypto.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>*@


</body>
</html>
